.owl-wrapper {
  width: 100%;
  text-align: center;
}

.owl-item {
  margin-top: 150px;
  width: 23%;
}

div.charlesInfo div.tylerInfo {
  display: block;
  /*max-width: 1065px;*/
  height: auto;
  margin-top: 150px;
  text-align: center;
  width: auto;
}

.owl-controls .owl-buttons {
  position: absolute;
  width: 100%;
}

.owl-prev {
  float: left;
  margin-left: 40px;
}

.owl-next {
  float: right;
  margin-right: 40px;
}

@media all and (max-width: 660px) {
  .charlesInfo .charlesImage {
    max-width: 100%;
  }

  .tylerInfo .tylerImage {
    max-width: 100%;
  }

  .meet-wrf-content {
    padding: none;
  }

  .owl-buttons {
    div {
      position: fixed;
      display: inline-block;
    }
  }
}
