.owl-item {
  margin-top: 150px;
}

div.charlesInfo div.tylerInfo {
  display: block;
  width: 100%;
  max-width: 1065px;
  height: auto;
  margin-top: 150px;
}

.owl-controls .owl-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
}

.owl-prev {
  float: left;
  margin-left: 40px;
}

.owl-next {
  float: right;
  margin-right: 40px;
}

@media all and (max-width: 660px) {
  .charlesInfo .charlesImage {
    max-width: 100%;
  }

  .tylerInfo .tylerImage {
    max-width: 100%;
  }

  .meet-wrf-content {
    padding: none;
  }

  .owl-buttons {
    div {
      position: fixed;
      display: inline-block;
    }
  }
}
