body {
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 23px;
  line-height: 32px;
  color: #808080;
  font-weight: 200;
  text-align: center;
  margin: 0;
}

header {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: white;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

header .wrf-logo {
  display: inline-block;
  height: 150px;
  float: left;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

header nav {
  display: inline-block;
  float: right;
}

header nav a {
  color: #9e9e9e;
  text-decoration: none;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 18px;
  padding-right: 30px;
  line-height: 150px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

header nav a:hover {
  color: #F2C018;
}

header.smaller {
  height: 100px;
}

header.smaller .wrf-logo {
  height: 100px;
}

header.smaller nav a {
  line-height: 100px;
  padding-top: none;
}

@media all and (max-width: 660px) {
  header .wrf-logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }

  header nav {
    display: block;
    float: none;
    height: 50px;
    text-align: center;
    margin: 0 auto;
  }

  header nav a {
    line-height: 50px;
    font-size: 15px;
  }

  header.smaller {
    height: 150px;
  }

  header.smaller .wrf-logo {
    height: 100px;
  }

  header.smaller nav {
    height: 50px;
  }

  header.smaller nav a {
    line-height: 50px;
  }

  section.intro {
    height: 667px;
  }

  .intro-content p {
  font-size: 20px;
  padding: 0 15px 0 15px;
  }
}

section {
  overflow: hidden;
  width: 100%;
}

h1 {
  width: 80%;
  max-width: 920px;
  margin: auto;
  font-family: 'Avenir', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  font-size: 40px;
  line-height: 56px;
  -webkit-font-smoothing: antialiased;
}

a.button {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 18px;
  padding: 18px 30px 12px 30px;
  border-radius: 10px;
  color: #212121;
  text-decoration: none;
  border: 2px solid rgba(0,0,0,0.1);
  margin-top: 10px;
  display: inline-block;
  transition: 0.3s;
  -webkit-font-smoothing: antialiased;
}

a.button:hover {
  border-color: rgba(0,0,0,0.2);
}

a.button--white {
  color: #FFFFFF;
  border: 2px solid rgba(255,255,255,0.4);
}

a.button--white:hover {
  border-color: #FFFFFF;
}

.intro {
  width: 100%;
  background-color: #f4f4f4;
  background-size: 80%;
  background-position: center bottom;
  background-repeat: no-repeat;
  min-height: 600px;
  height: 95vh;
  position: relative;
}

.intro-content {
  width: 100%;
  position: absolute;
  top: 200px;
}

.intro-content h1 {
  margin-top: 20px;
}

.intro-content h1 a {
  text-decoration: none;
  color: #212121;
}

.work {
  width: 90%;
  padding: 110px 5% 0;
}

.work h1, .work p {
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
}

.work--black {
  background-color: #212121
  color: #808080;
}
.work--black h1 {
  color: #FFFFFF;
}

.meet-wrf {
  min-height: 100vh;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: 0.4s;
  transform: translat3d(0,0,0);
}

.meet-wrf--hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(1.1);
}

.meet-wrf--show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.meet-wrf .meet-wrf-close {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 18px;
  color: #CCC;
  position: fixed;
  top: 50px;
  right: 50px;
  cursor: pointer;
  z-index: 1000;
  -webkit-font-smoothing: antialiased;
}

.meet-wrf .meet-wrf-content {
  padding-top: 10vh;
  float: right;
  width: 50%;
}

.meet-wrf p {
  width: 60%;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

.work-wrf {
  min-height: 100vh;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: 0.4s;
  transform: translat3d(0,0,0);
}

.work-wrf--hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(1.1);
}

.work-wrf--show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.work-wrf .work-wrf-close {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 18px;
  color: #CCC;
  position: fixed;
  top: 50px;
  right: 50px;
  cursor: pointer;
  z-index: 1000;
  -webkit-font-smoothing: antialiased;
}

.work-wrf .work-wrf-content {
  padding-top: 10vh;
  float: right;
  width: 50%;
}

.work-wrf p {
  width: 60%;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

.contact-wrf {
  min-height: 100vh;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: 0.4s;
  transform: translat3d(0,0,0);
}

.contact-wrf--hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(1.1);
}

.contact-wrf--show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.contact-wrf .contact-wrf-close {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 18px;
  color: #CCC;
  position: fixed;
  top: 50px;
  right: 50px;
  cursor: pointer;
  z-index: 1000;
  -webkit-font-smoothing: antialiased;
}

.contact-wrf .contact-wrf-content {
  padding-top: 10vh;
  float: right;
  width: 50%;
}

.contact-wrf p {
  width: 60%;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(-8%);
  }
  65%{
    transform: translateY(4%);
  }
  80%{
    transform: translateY(-4%);
  }
  95%{
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50%{
    -webkit-transform: translateY(-8%);
  }
  65%{
    -webkit-transform: translateY(4%);
  }
  80%{
    -webkit-transform: translateY(-4%);
  }
  95%{
    -webkit-transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
