/* ---- */
/* BODY */
/* -----*/
  body {
    background-color: #ffffff !important;
    font-family: 'Muli', 'Helvetica Neue', sans-serif !important;
    font-size: 23px !important;
    line-height: 32px;
    color: #808080 !important;
    font-weight: 200 !important;
    margin: 0;
  }


/* ------ */
/* HEADER */
/* ------ */
  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
  }

  header nav a {
    color: #9e9e9e;
    text-decoration: none;
    font-family: 'Muli', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    padding-right: 30px;
    line-height: 150px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  header nav a:hover {
    color: #F2C018;
  }

  header.smaller {
    height: 100px;
  }

  header.smaller .wrf-logo {
    height: 100px;
  }

  header.smaller nav a {
    line-height: 100px;
    padding-top: none;
  }


/* ---------*/
/* WRF LOGO */
/* ---------*/
  header .wrf-logo {
    display: inline-block;
    height: 150px;
    float: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }


/* -------- */
/* NAV TEXT */
/* -------- */
  .nav-list {
    float: right;
  }

  section {
    overflow: hidden;
    width: 100%;
  }


/* ---------------- */
/* INTRO -- SECTION */
/* ---------------- */
  .intro {
    width: 100%;
    background-color: #f4f4f4;
    min-height: 400px;
    height: 100%;
    position: relative;
    margin-top: 150px;
  }

/*  .intro-content {
    width: 100%;
    top: 200px;
  }*/

  .intro-image {
    width: 100%;
  }

  .wrfIntro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .wrfText {
    font-family: 'Muli', 'Helvetica Neue', sans-serif;
    font-size: 8vw;
    letter-spacing: 20px;
    color: white;
    z-index: 10;
    width: 100%;
  }

/* ---- */
/* INFO */
/* -----*/

  .info p {
    margin: 60px auto;
    padding: 0 40px;
  }

/* -------- */
/* CAROUSEL */
/* -------- */

.carousel-control .glyphicon-menu-left,
.carousel-control .glyphicon-menu-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none !important;
}

.glyphicon {
  color: black;
}

.carousel-control {
  text-shadow: none !important;
}

#wrfAbout .carousel-inner {
  top: 40px;
}

.carouse-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/* --------------- */
/* WORK -- SECTION */
/* --------------- */
  .work {
    width: 100%;
    padding: 50px 0;
    text-align: center;
  }

  .work h1, .work p {
    max-width: 790px;
    margin-left: auto;
    margin-right: auto;
  }

  .work--black {
    background-color: #212121;
    color: #808080;
    padding: 50px 0;
    text-align: center;
  }
  .work--black h1 {
    color: #FFFFFF;
  }

  .work--white {
    background-color: white;
    color: #808080;
    padding: 50px 0;
    text-align: center;
  }

  .work--yellow {
    background-color: #f6ca36;
    color: white;
    text-align: center;
    padding: 50px 0;
  }

  .work-wrf {
    min-height: 100vh;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: 0.4s;
    transform: translat3d(0,0,0);
  }

  .work-wrf--hidden {
    visibility: hidden;
    opacity: 0;
    transform: scale(1.1);
  }

  .work-wrf--show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  .work-wrf .work-wrf-close {
    font-family: 'Muli', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #CCC;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    z-index: 1000;
    -webkit-font-smoothing: antialiased;
  }

  .work-wrf .work-wrf-content {
    padding-top: 10vh;
    float: right;
    width: 50%;
  }

  .work-wrf p {
    width: 60%;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
  }


/* --------------- */
/* MEET -- SECTION */
/* --------------- */
  .meet-wrf-content {
    text-align: center;
    margin-top: 100px;
    max-width: 1260px;
    width: 100%;
  }

  .meet-wrf--hidden {
    visibility: hidden;
    opacity: 0;
    transform: scale(1.1);
  }

  .meet-wrf--show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    position: fixed;
  }

  .meet-wrf .meet-wrf-close {
    font-family: 'Muli', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #CCC;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    z-index: 1000;
    -webkit-font-smoothing: antialiased;
  }

  .meet-wrf {
    min-height: 100vh;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: 0.4s;
    transform: translat3d(0,0,0);
  }

  .item {
    position: relative;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
  }

  .infoText {
    position: absolute;
    font-family: 'Muli', 'Helvetica Neue', sans-serif;
    width: 100%;
    max-width: 1260px;
    color: white;
    top: 25%;
    left: 5%;
  }

  p.name {
    font-size: 4vw;
    font-weight: bold;
  }

  p.title {
    font-size: 2vw;
  }



/* ------------------ */
/* CONTACT -- SECTION */
/* ------------------ */
  .contact-wrf {
    min-height: 100vh;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: 0.4s;
    transform: translat3d(0,0,0);
  }

  .contact-wrf--hidden {
    visibility: hidden;
    opacity: 0;
    transform: scale(1.1);
  }

  .contact-wrf--show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  .contact-wrf .contact-wrf-close {
    font-family: 'Muli', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #CCC;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    z-index: 1000;
    -webkit-font-smoothing: antialiased;
  }

  .contact-wrf .contact-wrf-content {
    padding-top: 10vh;
    float: right;
    width: 50%;
  }

  .contact-wrf p {
    width: 100%;
    max-width: 760px;
    margin-left: 25px;
    margin-right: 25px;
  }


h1 {
  width: 80% !important;
  max-width: 920px !important;
  margin: auto !important;
  font-family: 'Muli', 'Helvetica Neue', sans-serif !important;
  font-weight: lighter !important;
  font-size: 40px !important;
  line-height: 56px !important;
  text-align: center !important;
  -webkit-font-smoothing: antialiased !important;
}

a.button {
  font-family: 'Muli', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  padding: 18px 30px 12px 30px;
  border-radius: 10px;
  color: #212121;
  text-decoration: none;
  border: 2px solid rgba(0,0,0,0.1);
  margin-top: 10px;
  display: inline-block;
  transition: 0.3s;
  -webkit-font-smoothing: antialiased;
}

.slick-prev, .slick-next {
  z-index: 1000;
}


@media all and (max-width: 660px) {
  header .wrf-logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }

  header nav {
    display: block;
    height: 50px;
    text-align: center;
    margin: 0 auto;
  }

  header nav a {
    line-height: 50px;
    font-size: 15px;
  }

  header.smaller {
    height: 150px;
  }

  header.smaller .wrf-logo {
    height: 100px;
  }

  header.smaller nav {
    height: 50px;
  }

  header.smaller nav a {
    line-height: 50px;
  }

  .nav-list {
    float: none;
  }

  .wrfIntro {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

  .intro-image img{
    max-width: 100%;
    margin: 0 auto;
  }
}

a.button:hover {
  border-color: rgba(0,0,0,0.2);
}

a.button--white {
  color: #FFFFFF;
  border: 2px solid rgba(255,255,255,0.4);
}

a.button--white:hover {
  border-color: #FFFFFF;
}

.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(-8%);
  }
  65%{
    transform: translateY(4%);
  }
  80%{
    transform: translateY(-4%);
  }
  95%{
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50%{
    -webkit-transform: translateY(-8%);
  }
  65%{
    -webkit-transform: translateY(4%);
  }
  80%{
    -webkit-transform: translateY(-4%);
  }
  95%{
    -webkit-transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
