<nav class='nav'>
  <a href='/' class='wrf-logo'>Winding Rhythm Films</a>
  <ul class='nav-list'>
    <li>
      <a href='views/meet-wrf.html' class='meet-wrf-link'>Meet The Team</a>
    </li>
    <li>
      <a href='views/work.html' class='work-link'>View Our Work</a>
    </li>
    <li>
      <a href='views/contact.html' class='contact-link'>Get In Touch</a>
    </li>
  </ul>
</nav>

<section class='intro'>
  <div class='intro-content slide-up--intro'>
    <h1>Winding Rhythm Films is an audio/video production company created to serve the community. in the everlasting enhancement of an all encompassing lifestyle.</h1>
  </div>
</section>

<section class='work work--white'>
  <h1>Recent Work</h1>
<!-- enter carousel of three most recent works here -->
  <a href='/viewWork' class='button'>More Work</a>
</section>

<section class='work work--black'>
  <h1>Why Us?</h1>
  <!-- Create three circle logos for the three points -->
  <p>Exceptional client communication relations</p>
  <p>Highly produced imagery media for strategic growth</p>
  <p>Business enhancing resource</p>
</section>
